:root {
    --main-bg-color: #12141E;
    --white: #fff;
}

#neutralinoapp {
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

#isSaving {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', Arial, sans-serif;
    background-color: var(--main-bg-color); /* rgb(18, 20, 30);*/
    color: var(--white);
}

.header {
    display: flex;
    justify-content: space-between;
}

.top-buttons {
    padding: 20px;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

.top-buttons a {
    width: 50px;
    height: 50px;
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-decoration: none;
    border: 1px dashed var(--white);
}

.top-buttons a:hover {
    border-color: var(--main-bg-color);
}

.top-buttons i {
    font-size: 24px;
    color: #333;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}

.tile {
    width: 400px;
    height: 225px;
    border-radius: 10px;
    background-size: contain;
    background-color: rgb(30, 35, 50);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.tile:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.tile .icon {
    transition: all 0.3s ease;
    font-size: 100px;
    margin-bottom: 60px;
}

.tile:hover .icon:not(.fa-circle-plus) {
    transform: rotate(-45deg);
}

.tile .name {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.tile .actions {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    display: none;
}

.tile:hover .actions {
    display: block;
}

.tile .actions button {
    background: none;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    transition: color 0.3s ease;
}
