#neutralinoapp {
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', Arial, sans-serif;
    background-color: rgb(18, 20, 30);
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}

.tile {
    /* horizontal: 92x43 */
    /* vertial: 2x3 */
    width: 234px;
    height: 351px;
    /*
    width: 262px;
    height: 122px;
    */
    /*
    width: 460px;
    height: 215px;
    */
    /*
    width: 324px;
    height: 151px;
    */
    border-radius: 10px;
    background-color: rgb(30, 35, 50);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.tile:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.tile .icon {
    transition: all 0.3s ease;
    font-size: 100px;
    margin-bottom: 50px;
}

.tile:hover .icon {
    transform: rotate(-45deg);
}

.tile .name {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.tile .actions {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    display: none;
}

.tile:hover .actions {
    display: block;
}

.tile .actions button {
    background: none;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    transition: color 0.3s ease;
}


.tile.new {
    align-items: center;
    justify-content: center;
    
}

.tile.new .icon {
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    font-style: normal;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile.new:hover .icon {
    transform: rotate(-90deg);
}